In [1]:
import pandas as pd
import numpy as np

In [2]:
path = ''
df = pd.read_csv(path + 'data/us-states.csv')

In [3]:
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [4]:
df.state.head()

0    Washington
1    Washington
2    Washington
3      Illinois
4    Washington
Name: state, dtype: object

In [5]:
df['date'] = df['date'].astype('datetime64[ns]')

In [6]:
df.sort_values(by = ['date'], inplace = True, ascending = True)

In [7]:
all_dates = df.date.unique()
print(len(all_dates))

128

In [9]:
all_states = df.state.unique()
print(len(all_states))

55

In [29]:
georgia_data = df[df['state']=='Georgia']

georgia_data

           date    state  fips  cases  deaths
256  2020-03-02  Georgia    13      2       0
271  2020-03-03  Georgia    13      2       0
287  2020-03-04  Georgia    13      2       0
305  2020-03-05  Georgia    13      2       0
326  2020-03-06  Georgia    13      3       0
...         ...      ...   ...    ...     ...
4479 2020-05-23  Georgia    13  40408    1794
4534 2020-05-24  Georgia    13  40989    1799
4589 2020-05-25  Georgia    13  41414    1820
4644 2020-05-26  Georgia    13  42066    1867
4699 2020-05-27  Georgia    13  42713    1904

[87 rows x 5 columns]

In [30]:
georgia_data.to_csv('data/georgia_ground_truth.csv')

In [31]:
alpha = 0.1

georgia_reported = georgia_data
georgia_reported['cases'] = (georgia_data['cases'] * alpha).astype('int')

/Users/ahsantarique/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [32]:
georgia_reported

           date    state  fips  cases  deaths
256  2020-03-02  Georgia    13      0       0
271  2020-03-03  Georgia    13      0       0
287  2020-03-04  Georgia    13      0       0
305  2020-03-05  Georgia    13      0       0
326  2020-03-06  Georgia    13      0       0
...         ...      ...   ...    ...     ...
4479 2020-05-23  Georgia    13   4040    1794
4534 2020-05-24  Georgia    13   4098    1799
4589 2020-05-25  Georgia    13   4141    1820
4644 2020-05-26  Georgia    13   4206    1867
4699 2020-05-27  Georgia    13   4271    1904

[87 rows x 5 columns]

In [34]:
georgia_reported.to_csv('data/georgia_reported.csv')